service: task-manager-api

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  environment:
    TABLE_NAME: ${self:service}-${self:provider.stage}-tasks
    JWT_SECRET: ${env:JWT_SECRET}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:Query
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
          Resource:
            - !GetAtt TasksTable.Arn

functions:
  authorizer:
    handler: functions/authorizer/index.handler

  auth:
    handler: functions/api/auth.handler
    events:
      - http:
          path: /auth/signup
          method: post
          cors: true
      - http:
          path: /auth/login
          method: post
          cors: true
      - http:
          path: /auth/refresh
          method: post
          cors: true

  users:
    handler: functions/api/users.handler
    events:
      - http:
          path: /users
          method: get
          authorizer:
            name: authorizer
            resultTtlInSeconds: 300
      - http:
          path: /users
          method: post
          authorizer:
            name: authorizer
            resultTtlInSeconds: 300
      - http:
          path: /users/{userId}
          method: get
          authorizer:
            name: authorizer
            resultTtlInSeconds: 300
      - http:
          path: /users/{userId}
          method: put
          authorizer:
            name: authorizer
            resultTtlInSeconds: 300

  tasks:
    handler: functions/api/tasks.handler
    events:
      - http:
          path: /tasks
          method: get
          authorizer:
            name: authorizer
            resultTtlInSeconds: 300
      - http:
          path: /tasks
          method: post
          authorizer:
            name: authorizer
            resultTtlInSeconds: 300
      - http:
          path: /tasks/{taskId}
          method: get
          authorizer:
            name: authorizer
            resultTtlInSeconds: 300

resources:
  Resources:
    TasksTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TABLE_NAME}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: pk
            AttributeType: S
          - AttributeName: sk
            AttributeType: S
          - AttributeName: GSI1PK
            AttributeType: S
          - AttributeName: GSI1SK
            AttributeType: S
          - AttributeName: GSI2PK
            AttributeType: S
          - AttributeName: GSI2SK
            AttributeType: S
        KeySchema:
          - AttributeName: pk
            KeyType: HASH
          - AttributeName: sk
            KeyType: RANGE
        GlobalSecondaryIndexes:
          - IndexName: GSI1
            KeySchema:
              - AttributeName: GSI1PK
                KeyType: HASH
              - AttributeName: GSI1SK
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
          - IndexName: GSI2
            KeySchema:
              - AttributeName: GSI2PK
                KeyType: HASH
              - AttributeName: GSI2SK
                KeyType: RANGE
            Projection:
              ProjectionType: ALL
